[submodule "caelestia"]
	path = src/dots
	url = https://github.com/caelestia-dots/caelestia.git
	branch = main
[submodule "yet-another-monochrome-icon-set"]
	path = src/yet-another-monochrome-icon-set
	url = https://bitbucket.org/dirn-typo/yet-another-monochrome-icon-set
	branch = main